<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>home</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "blog_text.css" %}">
</head>
<body>
		<!--	nav start -->
	<div class="section" id="nav">
		<ul>
			<li><a href="..">Home</a></li>
			<li><a href="/blog" class="active">Blog</a></li>
			<li><a href="">Share</a></li>
			<li><a href="">Views</a></li>
			<li><a href="">Stars</a></li>
		</ul>
	</div>
	<!--	nav end -->

	<!--	search start -->
	<div class="section" id="search">
	</div>
	<!--	search end -->

	<!--	hader start -->
	<div class="section" id="header">
		<img class="img-circle" src="https://steamuserimages-a.akamaihd.net/ugc/954087182940228186/45A9149556AC54A4CAB5D792C46B08C9F5DE8FAA/">
		<p>Pixel_Hobbit</p>
	</div>
	<!--	hader end -->

	<!--	navside start -->
	<div class="section" id='navside'>
	</div>
	<!--	navside end -->

	<!--	textblock start -->
	<div class='main'>
		<!--	blog start -->
		<div class="section" id='textblock'>
			 <h1>{{blog.title}}</h1>
			 <img src="{{blog.image.url}}">
			 <p>{{blog.text}}</p>
			 <p style="float: right;">{{blog.date}}</p>
		</div>
		<!--	blog end -->
	</div>
	<!--	textblock end -->
</body>
</html>
