<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>home</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "home.css" %}">
</head>
<body>
		<!--	nav start -->
	<div class="section" id="nav">
		<ul>
			<li><a href=".." class="active">Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/share">Share</a></li>
			<li><a href="/views">Views</a></li>
			<li><a href="/stars">Stars</a></li>
		</ul>
	</div>
	<!--	nav end -->

	<!--	GithubPage start -->
	<div class="section" id="GithubPage">
		<a href="https://pixelhobbit.github.io/personal-site/"><p>Github <br> Page</p></a>
	</div>
	<!--	GithubPage end -->

	<!--	hader start -->
	<div class="section" id="header">
		<img class="img-circle" src="https://steamuserimages-a.akamaihd.net/ugc/954087182940228186/45A9149556AC54A4CAB5D792C46B08C9F5DE8FAA/">
		<p>Pixel_Hobbit</p>
	</div>
	<!--	hader end -->

	<!--	navside start -->
	<div class="section" id='navside'>
	</div>
	<!--	navside end -->

	<!--	textblock start -->
	<div class='main'>
		<!--	active start -->
		{% for gallery in gallerys.all %}
		<div class="section" id='textblock'>
			 <img src="{{gallery.image.url}}">
			 <h3 style="margin-left: 50%;"><a href="{{ gallery.id }}">{{gallery.title}}</a></h3>
			 <p style="float: none;">{{gallery.short_description}}</p>
		</div>
		{% endfor %}
		<!--	active end -->
	</div>
	<!--	textblock end -->
</body>
</html>
