@charset "utf-8";
/* CSS Document */
body {
    font-family: 'Handlee', cursive;
    font-size: 13pt;
    background-color: #efefef;
    padding: 1%;
    margin: 0;
}
.section {
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    padding:1%;
}
/* nav start */
#nav {
	text-align: center;
	height: 25px;

}
#nav ul {
	list-style: none;
	text-decoration: none;
    margin: 0;
    padding: 0;
    top: 0;
}
#nav li {
    float: left;
	width: 20%;
}
#nav li a {
  color: gray;
	text-decoration: none;
}
#nav li a.active {
	color: darkorchid;
	font-weight: bold;
}
#nav li a:hover:not(.active) {
	color: indigo;
}
/* nav end */

/* search start */
#search {
	margin-bottom: 0;
  width: 20%;
	height: 150px;
	float: left;
}
/* search end */

/* header start */
.img-circle {
    border: 3px solid white;
    border-radius: 50%;
}
#header {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/939447588389291325/2F0B4DB567C2923D8D27A28E4EB5C8BC7FE8435C/");
    background-size: cover;
    margin: 0 0 0 1%;
  	float: left;
  	width: 75%;
  	height: 150px

}
#header img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}
#header p {
    font-size: 25pt;
    color: #FFF9E7;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
/* header end */

/* navside start */
#navside {
	margin: 15px 1% 15px 0;
	width: 20%;
	height: 650px;
	float: left;
}
/* navside end */

/* textblock start */
.main {
  float: left;
  width: 75.5%;
  margin-top: 15px;
}
#textblock {
	width: 100%;
	height: auto;
  float: left;
  margin-bottom: 15px;
}
#textblock img {
  border-radius: 10px;
  margin: 15px 0;
  width: 20%;
  float: left;
}
#textblock p {
  margin-left: 25%;
}
#textblock a {
  text-decoration: none;
  color: black;
}
#textblock a:hover:not(.active) {
	color: indigo;
}
/* textblock end */
